body {
    background-color: #f8f9fa;
}
.form-container {
    margin: 150px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-control, .form-control:focus {
    box-shadow: none;
}
.text-info {
    font-weight: bold;
}