<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    
    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="col-12 fixed-top">
                {% include "header.html"%}
            </div>
            <div class="col-md-6 ">
                <div class="login-container">
                    <h2 class="text-center">Login</h2>
                    <!-- Login Form -->
                    <form method="post">
                        <div class="form-group">
                            <label for="MobileEmail">Mobile No or Email</label>
                            <input type="text" class="form-control" name ="uname" id="usernameEmail" placeholder="Enter your username or email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="pwd" id="password" placeholder="Enter your password" required>
                        </div>
                        <!-- Submit Button -->
                        <button  class="btn btn-info btn-block">Login</button>
                        <!-- Sign In Link -->
                        <div class="text-center link mt-2">
                            <p>Not signed up yet? Go to <a href="signup">Sign In</a>.</p>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>
